/*

   custom animations are done here
   
   
*/





/* animation for blinking the placeholder */

.blink-input::placeholder {
  color: #888;
  animation: blink 1s steps(2, start) infinite;
}

@keyframes blink {
  0%   { opacity: 1; }
  50%  { opacity: 0; }
  100% { opacity: 1; }
}

/*animation ends*/


    
